.title {
    font-size: 16px;
    font-weight: bold;
    text-wrap: wrap;
  }
  .subtitle {
    font-size: 12px;
    font-weight: normal;
    text-wrap: wrap;
  }
  .card {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    width: 200px;
  }
  
  .card:hover {
    background-color: rgba(80, 79, 79, 0.868);
  }
  
  .image {
    width: 196px;
    height: 265px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  .content {
    text-align: center;
    row-gap: 2px;
  }
  